<!-- login.component.html -->
<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
<div class="navigation-link">
    <a routerLink="/register">Don't have an account? Register here</a>
</div>